body{
  line-height:1em;
  letter-spacing:normal;
  scrollbar-arrow-color:white;
  scrollbar-face-color:gray;
  scrollbar-highlight-color:white;
  scrollbar-3dlight-color:gray;
  scrollbar-track-color:white;
  scrollbar-shadow-color:white;
  scrollbar-darkshadow-color:gray;
}

div.wrapper{
  width:100%;
}

div.main{
  width:85%;
  text-align:left;
  margin: 0 auto;
}

a{
  text-decoration:none;
  cursor:crosshair;
}

a:link{
  text-decoration:none;
  color:#000000;
}

a:visited{
  text-decoration:none;
  color:#000000;
}

a:active{
  text-decoration:none;
  color:#333333;
}

a:hover{
  text-decoration:none;
  color:#333333;
  position:relative;
  top:2pt;
  left:1pt;
  visibility:visible;
  float:none;
  clear:none;
}

br{letter-spacing:normal;}

h1, h2, h3, h4 {
  font-family:Century Gothic;
  color:#000000;
  margin: 1em 0;
  font-weight: normal;
}

h1{font-size:20pt;}
h2{font-size:18pt;}
h3{
  font-size:13pt;
  font-color:#666666;
}
h4{
  font-size:12.5pt;
  font-color:#666666;
}

h3::before,h4::before {
  content: "*";
}

p{
  color:#666666;
  font-family:Century Gothic;
}
p.main{font-size:12pt;}

p.novel{line-height:2em;}
