<!-- _layouts/novel.html -->
<!DOCTYPE html>
<html lang="ja">
  <head>
		<title>{{ page.title }} - みずちとかがち</title>
		<meta charset="utf-8">
		<meta name=”robots” content=”noindex,nofollow”>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
		<link rel="stylesheet" href="../main.css"/>
	</head>
	<body>
		<div class="wrapper">
			<div class="main">
                <main>
                    <h2>{{ page.title }}</h2>
				<hr/>
				<p>{{ page.exception }}</p>
				<hr/>
				<div class="novel">
                    {{ content }}
                </div>
                </main>
                    <footer>
        <p>©yamaie / Dragon and Snake</p>
                    </footer>
            </div>
        </div>
</body>
</html>
