<!-- _layouts/novel.html -->
<!DOCTYPE html>
<html lang="ja">
  <head>
		<title>{{ page.title }} - みずちとかがち</title>
		<meta charset="utf-8">
		<meta name=”robots” content=”noindex,nofollow,noai,noimageai”>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
		<link rel="stylesheet" href="/dands/main.css"/>
	</head>
	<body>
		<div class="wrapper">
			<div class="main">
                <main>
                    <h2>{{ page.title }}</h2>
					{% if page.attention %}
					<hr/>
					<p>{{ page.attention }}</p>
					{% endif %}
					<hr/>
					<p>{{ page.exception }}</p>
					<hr/>
					<div class="novel">
						{% capture newline %}
						{% endcapture %}
						{% assign lines = content | split: newline %}
						{% for line in lines %}
						{% assign stripped_line = line | strip | strip_html %}
						{% if stripped_line == "*" %}
						<hr/>
						{% elsif line != "" and line != " " %}
						<p>{{ line }}</p>
						{% endif %}
						{% endfor %}
					</div>
					{% if page.postscript %}
					<hr/>
					<p>{{ page.postscript }}</p>
					{% endif %}
					<hr/>
					<p>{{ page.update }}</p>
					<hr/>
					{% if page.pre_page %}
					<a href="{{ page.pre_page | relative_url }}">←</a>&nbsp;
					{% endif %}
					<a href="/dands/{{ page.folder }}/">+</a>
					{% if page.next_page %}
					&nbsp;<a href="{{ page.next_page | relative_url }}">→</a>
					{% endif %}
				</main>
				<footer>
					<p>©yamaie / Dragon and Snake</p>
				</footer>
            </div>
        </div>
	</body>
</html>
